  #div_headers {
    text-align: center;
  }

  #desco {
    text-align: center;
   }

  #corner_photo {
    position: fixed;
    top: 0px;
    Right: 0;
    width: 128px;
    height: 180px;
    border: none;
  }

  #listphoto  {

    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;

  }

  #listphotoa {
    float: left;
    width: 128px;
    height: 180px;

  }

  .nav_bar_class {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #111111;
  }

  #li_nav_home, #li_nav_about {
    float: left;
  }

  #li_nav_home a, #li_nav_about a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #li_nav_home a:hover, #li_nav_about a:hover {
    background-color: #5b64af;
}

  #li_nav_home .active, #li_nav_about .active {
    background-color: #5b64af;
  }
