  h1 {
    text-align: center;
  }

  #desco {
    text-align: center;
   }

  #photo {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 640px;
      height: 427px;
      border: 3px solid #73AD21;
  }