  #div_headers {
    text-align: center;
  }

  #desco {
    text-align: center;
   }

  #corner_photo {
    position: fixed;
    top: 60px;
    Right: 0;
    width: 220px;
    height: 220px;
    border: none;
  }

  #listphoto  {

    border: solid;
    border-width: 2px;

  }

  #listphotoa {
    width: 128px;
    height: 180px;

  }

  #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
    position: fixed;
    background-color: #111111;
  }

  #li_nav {
    float: left;
  }

  #li_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #li_nav a:hover {
    background-color: #5b64af;
}

  #li_nav .active {
    background-color: #5b64af;
  }
